body {
  font-family: 'Segoe UI', sans-serif;
  background: rgb(255, 0, 0);
  text-align: center;
  margin: 0;
  padding: 0;
}

.pantalla {
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 25px;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}


.superior {
  margin-bottom: 20px;
}

.dialogoFinal {
  margin-top: 30px;
  padding: 20px;
  border: 2px dashed #999;
  background-color: #fafafa;
}

/* Las pantalla-con-fondo son para poner las imagenes del fondo y los contenido-superpuesto para los mensajes que aprecen sobre las imágenes */
.pantalla-con-fondo1 {
  width: 2000px;
  height: 990px;
  background-image: url('img/fondo-d1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.contenido-superpuesto1 {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  padding: 20px;
  border-radius: 12px;
}

.pantalla-con-fondo2 {
  width: 2000px;
  height: 990px;
  background-image: url('img/fondo-reina.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.contenido-superpuesto2 {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  padding: 20px;
  border-radius: 12px;
}


.menu-superior {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.boton-menu {
  background-color: #333;
  color: white;
  font-size: 24px;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-desplegable {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 5px;
  min-width: 150px;
}

.menu-desplegable a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
}

.menu-desplegable a:hover {
  background-color: #f0f0f0;
}

.canvasContainer {
  position: relative;
  width: 100%;
  height: 100vh; 
}

/* Posición grillas de los puzzles */
#contenedorLevel {
  position: absolute;
  right: 600px; 
  top: -15px;
}

#contenedorGame {
  position: absolute;
  top: 245px;
  left: 190px;
}

.boton-reiniciar {
  position: absolute;
  bottom: 180px;
  left: 1400px;
  transform: translateX(-50%);
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;;
}

.pantalla-con-fondoFinal {
  width: 2000px;
  height: 990px;
  background-image: url('img/fondo-final.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.contenido-superpuestoFinal {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
}

#fondoCompuestopuzzle img {
  pointer-events: none;
}

.boton-reiniciar-imagen {
  position: absolute;
  width: 250px;
  height: 250px;
  cursor: pointer;
  z-index: 10;
  top: 670px;
  right: 880px;
}

.boton-reiniciar-imagen:hover {
  /*transform: scale(1.1); */
  content: url("img/borrar-hover.png");
}

#barraAprobacionContainer {
  width: 500px;
  height: 40px;
  top: 15px;
  border: 2px solid #333;
  background-color: #eee;
  margin-top: 20px;
  position: relative;
}

#barraAprobacion {
  height: 100%;
  width: 0%;
  background-color: #6fbf73; /* verde al inicio */
  transition: width 0.3s ease, background-color 0.3s ease;
}

.burbuja {
  position: absolute;
  top: 30px; 
  left: 450px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border: 2px solid #444;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 18px;
  font-style: italic;
  max-width: 300px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.cuadro-final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.95);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px #000000;
  text-align: center;
  z-index: 9999;
}













